@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
  --dark4: #a1a1a1;
  --dark5: #d0d0d0;
  --dark6: #e7e7e7;
  --dark7: #f3f3f3;
  --white: #ffffff;
  --accent: #ff900e;
  --bg2: rgba(255, 144, 14, 0.1);
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common class */

.container {
  max-width: 1460px;
  margin: clamp(2.5rem, 9.027vw, 8.125rem) auto 0 auto;
  padding: 0 1.25rem;
}

h1,
h2,
.altH1 {
  color: var(--dark1);
  font-weight: 700;
  line-height: 117%;
  margin-bottom: 0.375em;
}
h1,
.altH1 {
  font-size: clamp(2rem, 4.44vw, 4rem);
}

.altH1 {
  color: var(--white);
  margin-bottom: 0;
}

h2 {
  font-size: clamp(1.5rem, 3.125vw, 2.81rem);
}

h3 {
  color: var(--dark1);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 115%;
  text-align: left;
}

p {
  color: var(--dark3);
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--dark2);
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 160%;
}

a:hover {
  color: var(--accent);
}

a[active] {
  color: var(--accent);
}

.btn {
  background-color: var(--accent);
  color: var(--white);
  font-size: clamp(0.87rem, 1.38vw, 1.25rem);
  font-weight: 600;
  line-height: 115%;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  padding: 1.25em 1.5em;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

img {
  width: 100%;
}

.d3text {
  color: var(--dark3);
  font-weight: 400;
}

.accentText {
  color: var(--accent);
}

/*uncommon class/id */

header {
  background-color: var(--bg2);
  padding: clamp(1.56rem, 3.47vw, 3.125rem) 0;
}

header .container {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#logo {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 117%;
  color: var(--dark1);
}

.content {
  max-width: 868px;
  margin: clamp(1.56rem, 8.05vw, 7.25rem) auto clamp(1.56rem, 3.47vw, 3.125rem)
    auto;
  text-align: center;
}

.content p,
.content2 p,
.heading p {
  margin-bottom: 2em;
}

#heroImage {
  width: min(1440px, 100%);
  margin: 0 auto;
}

#quickList {
  display: flex;
  gap: clamp(1.5rem, 5.069vw, 4.56rem);
  align-items: center;
}

.imgGallery {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.content2 {
  max-width: 537px;
}

.text-content {
  max-width: 586px;
}

#features > .container {
  display: flex;
  justify-content: space-between;
}

#left-border {
  padding-left: 1.25rem;
  border-left: 0.3rem solid var(--accent);
}

#features .card-container {
  display: grid;
  gap: 1.25rem;
}

#features .cards {
  display: grid;
  gap: 0.75em;
  max-width: 586px;
  padding: 1.86rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 1.86rem 0rem rgba(0, 0, 0, 0.06);
}

.img-container {
  max-width: 45%;
}

.labeltext {
  max-width: 342px;
  background-color: var(--accent);
  color: var(--white) !important;
  text-align: center;
  font-size: 25px; /* Need to change this to rem value */
  border-radius: 0.5rem;
  padding: clamp(1.5rem, 3.125vw, 2.85rem) clamp(1rem, 2.2vw, 2rem);
  margin: -71px 0 0 -92px;
  position: relative;
  z-index: 999;
}

#SomeFacts {
  display: grid;
  gap: clamp(1.5rem, 4.4vw, 2.5rem);
}

#SomeFacts .heading {
  max-width: 542px;
  text-align: left;
}

.fact-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  place-items: center;
}

.fact-card {
  width: 15rem;
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  padding: 2.75rem 2rem;
  text-align: center;
}

.fact-card img {
  width: 37px;
}

.fact-card-heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--dark2);
  margin: 0.6rem 0 0.25rem 0;
}

.fact-card-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark3);
}

#sponspors .container {
  display: grid;
  gap: clamp(1.5rem, 3.472vw, 3.125rem);
  text-align: center;
}

#sponspors .heading {
  max-width: 532px;
  margin: 0 auto;
}

#sponsporsLogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  filter: grayscale(100%);
}

#sponsporsLogo img {
  max-width: 181px;
  margin: 0 auto;
}

footer .container {
  background-color: var(--bg2);
  color: var(--dark2);
  text-align: center;
  border-radius: 0.5rem;
  padding: 2.5rem;
  margin-bottom: clamp(3.75rem, 15vw, 13.5rem);
}

/* Laptop devices */

@media screen and (max-width: 1280px) {
  #features > .container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  /* .text-content {
    max-width: 100%;
  } */

  .img-container {
    max-width: 85%;
  }

  .labeltext {
    margin: 1.5rem 0 0 0;
  }

  .fact-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .fact-card {
    width: 100%;
  }

  #sponsporsLogo {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* tablet device */

@media screen and (min-width: 540px) and (max-width: 768px) {
  #quickList {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* mobile device */

@media screen and (max-width: 540px) {
  nav,
  nav ul {
    flex-direction: column;
  }
  nav {
    gap: 1.2rem;
  }

  .fact-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #sponsporsLogo {
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
  }
}
