@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
  --dark4: #a1a1a1;
  --dark5: #d0d0d0;
  --dark6: #e7e7e7;
  --dark7: #f3f3f3;
  --white: #ffffff;
  --accent: #ff900e;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common class */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2 {
  color: var(--dark1);
  font-weight: 700;
  line-height: 117%;
}
h1 {
  font-size: clamp(2rem, 4.44vw, 4rem);
  margin-bottom: 0.375em;
}
p {
  color: var(--dark3);
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--dark2);
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 160%;
}

a:hover {
  color: var(--accent);
}

a[active] {
  color: var(--accent);
}

.btn {
  background-color: var(--accent);
  color: var(--white);
  font-size: clamp(0.87rem, 1.38vw, 1.25rem);
  font-weight: 600;
  line-height: 115%;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  padding: 1.25em 1.5em;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

img {
  width: 100%;
}

/*uncommon class/id */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: clamp(1.56rem, 3.47vw, 3.125rem) 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#logo {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 117%;
  color: var(--dark1);
}

#heroSection .content {
  max-width: 868px;
  margin: clamp(1.56rem, 8.05vw, 7.25rem) auto clamp(1.56rem, 3.47vw, 3.125rem)
    auto;
  text-align: center;
}

#heroSection .content p {
  margin-bottom: 2em;
}

#heroImage {
  width: min(1440px, 95%);
  margin: 0 auto;
}

@media screen and (max-width: 540px) {
  nav,
  nav ul {
    flex-direction: column;
  }
  nav {
    gap: 1.2rem;
  }
}
